n8n/workflow.json
{
    "name": "HospAgent SurgeOps - Live Data Pipeline",
    "nodes": [
        {
            "name": "Schedule Every 10 Minutes",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "schedule-10min",
            "webhookId": "",
            "credentials": {},
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 10
                        }
                    ]
                }
            }
        },
        {
            "parameters": {
                "url": "http://localhost:8000/api/predict/live",
                "method": "GET",
                "options": {}
            },
            "name": "Trigger Live Prediction",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                300
            ],
            "id": "trigger-prediction"
        },
        {
            "name": "Schedule Daily 00:15",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                600
            ],
            "id": "schedule-daily",
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "15 0 * * *"
                        }
                    ]
                }
            }
        },
        {
            "parameters": {
                "url": "http://localhost:8000/api/festivals/sync",
                "method": "POST",
                "options": {}
            },
            "name": "Sync Festivals",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                450,
                600
            ],
            "id": "sync-festivals"
        },
        {
            "parameters": {
                "url": "http://localhost:8000/forecast/patients",
                "method": "GET",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "days",
                            "value": "7"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Get Forecast",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                650,
                600
            ],
            "id": "get-forecast"
        },
        {
            "parameters": {
                "url": "http://localhost:8000/api/ai/command",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "question",
                            "value": "Generate a daily summary report for the hospital operations. Include risk level, staffing needs, and any upcoming high-risk festivals."
                        }
                    ]
                },
                "options": {}
            },
            "name": "Generate AI Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                850,
                600
            ],
            "id": "generate-ai-report"
        },
        {
            "parameters": {
                "text": "=🚨 *Daily Hospital Report*\n\n{{$json.answer}}\n\n_Generated by HospAgent AI_",
                "additionalFields": {}
            },
            "name": "Send Daily Report",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                1050,
                600
            ],
            "id": "send-report",
            "credentials": {
                "slackApi": {
                    "id": "slack-webhook",
                    "name": "Slack Webhook"
                }
            }
        }
    ],
    "connections": {
        "Schedule Every 10 Minutes": {
            "main": [
                [
                    {
                        "node": "Trigger Live Prediction",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Schedule Daily 00:15": {
            "main": [
                [
                    {
                        "node": "Sync Festivals",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sync Festivals": {
            "main": [
                [
                    {
                        "node": "Get Forecast",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Forecast": {
            "main": [
                [
                    {
                        "node": "Generate AI Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate AI Report": {
            "main": [
                [
                    {
                        "node": "Send Daily Report",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 2,
    "updatedAt": "2025-11-26T00:00:00.000Z",
    "versionId": "2"
}